## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [7]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [9]:
# 1) Seu código aqui
por_mat = df_mat / df_mat['Qt_acertos'].nunique()
por_por = df_por / df_por['Qt_acertos'].nunique()
por_geo = df_geo / df_geo['Qt_acertos'].nunique() 
por_ing = df_ing / df_ing['Qt_acertos'].nunique()
por_his = df_his / df_his['Qt_acertos'].nunique()
por_fis = df_fis / df_fis['Qt_acertos'].nunique()
por_qui = df_qui / df_qui['Qt_acertos'].nunique()

por_mat

    Qt_acertos
0     0.250000
1     0.791667
2     0.583333
3     0.416667
4     0.291667
..         ...
95    0.250000
96    0.333333
97    0.958333
98    0.000000
99    0.458333

[100 rows x 1 columns]

In [6]:
por_por

    Qt_acertos
0     0.411765
1     0.588235
2     0.941176
3     0.411765
4     0.117647
..         ...
95    0.235294
96    0.058824
97    0.294118
98    0.588235
99    0.882353

[100 rows x 1 columns]

In [8]:
por_geo

    Qt_acertos
0        0.875
1        0.000
2        0.000
3        0.375
4        0.250
..         ...
95       0.875
96       0.500
97       0.000
98       0.375
99       0.000

[100 rows x 1 columns]

In [10]:
por_ing

    Qt_acertos
0        0.375
1        0.000
2        0.625
3        0.500
4        0.875
..         ...
95       0.125
96       0.750
97       0.250
98       0.125
99       0.125

[100 rows x 1 columns]

In [12]:
por_his

    Qt_acertos
0        0.125
1        0.000
2        0.875
3        0.000
4        0.000
..         ...
95       0.500
96       0.125
97       0.500
98       0.625
99       0.750

[100 rows x 1 columns]

In [14]:
por_fis

    Qt_acertos
0     0.666667
1     0.916667
2     0.333333
3     0.000000
4     0.750000
..         ...
95    0.750000
96    0.333333
97    0.083333
98    0.833333
99    0.583333

[100 rows x 1 columns]

In [16]:
por_qui

    Qt_acertos
0     0.250000
1     0.666667
2     0.333333
3     0.666667
4     0.250000
..         ...
95    0.250000
96    0.250000
97    0.416667
98    0.916667
99    0.166667

[100 rows x 1 columns]

In [11]:
# 2) Seu código aqui
total_alunos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total_alunos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [13]:
df_mat['Qt_acertos'].nunique() + df_por['Qt_acertos'].nunique() + df_geo['Qt_acertos'].nunique() + df_ing['Qt_acertos'].nunique() + df_his['Qt_acertos'].nunique() + df_fis['Qt_acertos'].nunique() + df_qui['Qt_acertos'].nunique()

89

In [15]:
# 3) Seu código aqui
total_alunos/89

    Qt_acertos
0     0.393258
1     0.539326
2     0.561798
3     0.359551
4     0.337079
..         ...
95    0.382022
96    0.303371
97    0.449438
98    0.449438
99    0.471910

[100 rows x 1 columns]

In [17]:
# 4) Seu código aqui
corte_45 = total_alunos[total_alunos['Qt_acertos'] > 45]
corte_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [19]:
# seu código aqui
eliminados = total_alunos[(df_mat['Qt_acertos'] == 0) | (df_fis['Qt_acertos'] == 0) | (df_qui['Qt_acertos'] == 0)]

eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [21]:
#2. Quantos são esses alunos?
eliminados.count()

Qt_acertos    23
dtype: int64

In [23]:
#Qual a média desses alunos em história e geografia?
pc_geo_eliminados = eliminados - (df_mat + df_por + df_ing + df_his + df_qui + df_fis)
pc_geo_eliminados = pc_geo_eliminados.dropna()
pc_geo_eliminados.mean()

Qt_acertos    3.217391
dtype: float64

In [25]:
pc_his_eliminados = eliminados - (df_mat + df_por + df_ing + df_geo + df_qui + df_fis)
pc_his_eliminados = pc_his_eliminados.dropna()
pc_his_eliminados.mean()

Qt_acertos    3.434783
dtype: float64

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [27]:
df = pd.read_csv('registro_vacinacao_acre.csv', sep=';')

In [53]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,1ac9b249-4025-4415-9fbf-53972798cadb-i0b0,9ad5566f12c112195cb569c0daea23da2848f999989e17...,22,2000-01-29,F,1,BRANCA,120060.0,10.0,TARAUACA,...,2.0,Faixa Etária,FM3355,PFIZER,Organization/28290,2022-02-16,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,83264997-78b3-4f35-8b12-67b20c3004c3-i0b0,bd94d3623c928c847877e3757a1a6e9500e16e27cb4325...,45,1976-11-10,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,21PVCD368Z,ASTRAZENECA/FIOCRUZ,149,2022-07-11,2º Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,b7f3b0ad-1d61-44ea-a37e-b9ee50a10365-i0b0,43701bf77265be8940c465b216142854b80baa58fb9ac6...,67,1954-10-08,F,4,AMARELA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,212J21A,JANSSEN,30587,2022-06-21,2º Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
3,8343f768-bcb4-4e9a-ae67-85c5764c37eb-i0b0,640ca7d42c2f2123290ea93fc6d9d8a29c6e845395496f...,40,1980-10-01,F,1,BRANCA,120040.0,10.0,RIO BRANCO,...,1.0,Comorbidades,213VCD042Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-05-17,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
4,c3af974c-63ae-4948-92c5-a2c5621c1542-i0b0,db0a4cd2d7853d83251885f6de2131869685bc8783d114...,43,1977-12-13,F,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,216VCD213W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-09,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [29]:
# 1) Sua solução aqui

df.shape[0]

387105

In [31]:
# 2)
df['paciente_id'].nunique()

316469

In [33]:
# 3)
primeira_dose = df['vacina_descricao_dose'].unique()[3]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

72426

In [35]:
# 4)
df_menos18 = df[df["paciente_idade"]<18]
df_menos18['paciente_id'].nunique()

68216

In [39]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

62

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [41]:
# 1)
df_menor18 = df[df["paciente_idade"]<18].copy()

In [43]:
# 2)
df_menor18.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [47]:
# 3)
df_menor18['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      47514
Povos Indígenas                                    4667
Outros                                             3755
Povos e Comunidades Tradicionais                    819
Trabalhadores de Saúde                              254
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            42
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Trabalhadores da Educação                             2
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [49]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [53]:
# 5)
df_menor18_lista = df_menor18.loc[:,lista_variaveis]
df_menor18_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
14,2002914,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE SAUDE DA FAMILIA 25 DE AGOSTO,120020,CRUZEIRO DO SUL,AC
19,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
24,2000547,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAMILIA LUIZ GONZAGA,120020,CRUZEIRO DO SUL,AC
43,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
57,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
...,...,...,...,...,...,...
387089,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
387093,2000660,PREFEITURA MUNICIPAL DE SENADOR GUIOMARD,CENTRO DE SAUDE MARIA DO SOCORRO CAVALCANTE,120045,SENADOR GUIOMARD,AC
387098,6289312,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE SANTA ROSA DO PURUS,120043,SANTA ROSA DO PURUS,AC
387099,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
387102,2001934,PREFEITURA MUNICIPAL DE XAPURI,UNIDADE DE SAUDE DA FAMILIA JOSE RAIMUNDO DE MELO,120070,XAPURI,AC

In [55]:
df_menor18_lista = df_menor18_lista.drop_duplicates()
df_menor18_lista.shape

(204, 6)

In [57]:
df_menor18_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
14,2002914,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE SAUDE DA FAMILIA 25 DE AGOSTO,120020,CRUZEIRO DO SUL,AC
19,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
24,2000547,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAMILIA LUIZ GONZAGA,120020,CRUZEIRO DO SUL,AC
43,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
61,3007367,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE AGUINALDO NUNES DE OLI...,120050,SENA MADUREIRA,AC
...,...,...,...,...,...,...
172590,197599,CENTRAL MUNICIPAL DE REDE DE FRIOS,CENTRAL MUNICIPAL DE REDE DE FRIOS,120020,CRUZEIRO DO SUL,AC
184004,5493455,PREFEITURA MUNICIPAL DE PLACIDO DE CASTRO,U S F MARIO GOMES DA SILVA,120038,PLACIDO DE CASTRO,AC
197088,2001357,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA,ESF PEDRO OLIVEIRA DE SOUZA,120010,BRASILEIA,AC
301913,755605,USF BARRO VERMELHO,USF BARRO VERMELHO,120040,RIO BRANCO,AC
381903,7565089,PREFEITURA MUNICIPAL DE RIO BRANCO,USF MARIA DE JESUS III,120040,RIO BRANCO,AC